
body{
  --bg-color: #212D33;
  --bg-card: #414B50;
  --color: white;
  --border-color: #65AECF;
  --primary-color: #65AECF;

  background-color: var(--bg-color);
  color: var(--color);
  margin: 0;

  font-family: 'Roboto', sans-serif; 
  font-size: 20px;
}

.home-bg{
  position: fixed;
}
.info-section{
  min-height: 50vh;
  display: grid;
  padding: 20px 75px 20px 75px;
  position: relative;
  margin-bottom: 60px;

  h1{
      margin-top: 50px;
      font-size: 60px;
      top: 100px;
      position: sticky;
      height: 60px;
  }
  .card{
      background-color: var(--bg-color);
  }
  .stack-card:hover{
      border-color: transparent;
      transform: scale(1.02);
  }
  .card:hover{
      border-color: transparent;
      transform: scale(1.02);
  }
  .card p{
      padding: 0 60px;
      position: sticky;
      top: 100px;
      padding-top: 20px;
      font-size: 30px;
      color: var(--color);
  }
}
.info-section.left{
  grid-template-columns: 1fr 3fr;
  h1{
      margin-left: 30px;
  }

}
.info-section.right{
  grid-template-columns: 3fr 1fr;
  h1{
      margin-left: auto;
      margin-right: 30px;
  }
}

.header{
  background-color: #212d33bf;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: white;
  padding: 10px;
  margin-bottom: 60px;
  text-align: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid lightgray;
  z-index: 999;
}

.et-button{
  background-color: inherit;
  color: var(--color);
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: none;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.danger-button{
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #ffffff34,
    #ffffff34 10px,
    #6b6a2d7a 10px,
    #6b6a2d7a 20px
  );
  margin: 100px;
  min-height: 200px;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  backdrop-filter: blur(4px);

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-weight: 600;
}
.danger-button:hover{
  transform: scale(1.05);
  text-size-adjust: 1.5;
  background-color: rgba(255, 0, 0, 0.153);
}

.et-button:hover{
  transform: scale(1.05);
}

.project-btn{
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 0px rgba(195, 195, 195, 0.725);

  transition: all 0.3s ease-in-out;
  text-decoration: none !important;
}
.project-btn:hover{
  transform: scale(.99);
  box-shadow: none;
}

.et-button:hover{
  background-color: var(--bg-card);
}


@media only screen and (max-width: 1500px) {
  .stack-container{
      grid-template-columns: minmax(0, 1fr) !important;
  }
}

@media only screen and (max-width: 1200px)  {
  .info-section{
      width: 90vw;
      display: flex !important;
      padding: 5px 10px;
      flex-direction: column;

      font-size: small;

      &.right{
          flex-direction: column-reverse;
      }
      h1{
          position: relative;
          top:0;
          /* text-align: left;
          margin: 0 !important; */
          padding-bottom: 6px;
      }
      .card p{
          padding: 0 5px;
      }
  }
}

#logoSmallBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  aspect-ratio: 3/1;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-size: large;
  background-image: url("./assets/images/logoBackground.jpg");
}

.card{
  padding: 20px;
  margin: 10px 10px 50px 10px;
  border: 1px solid lightgray;
  border-radius: 6px;
  background-color: var(--bg-card);
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1);
}

.stack-container{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.stack-container .stack-card{
  background-color: var(--bg-color);
  padding: 10px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 6px;
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1);
}

.stack-card h2{
  margin: 0 0 20px 0;
  padding: 0;
}
.stack-card ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.stack-card ul li{
  padding: 10px;
  border: 2px solid var(--border-color);
  border-radius: 6px;
  margin: 10px;
  text-align: center;
}

.stack-card ul li {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 3px 5px rgba(101, 174, 207, 0.06), 
  0px 7px 9px rgba(101, 174, 207, 0.12), 
  0px 20px 25px -8px rgba(101, 174, 207, 0.18);

}

a{
  text-decoration: none;
  color: var(--color);
}
a:hover{
  text-decoration: underline;
}

.shadow-6{
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.06), 0px 7px 9px rgba(0, 0, 0, 0.12), 0px 20px 25px -8px rgba(0, 0, 0, 0.18);
}

.reset-btn{
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  margin: -50px 15px 10px auto;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  z-index: 4;
}

@keyframes cardAnim {
  from {
      opacity: 0;
      transform: translateY(50px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
  
}

#tech-stack{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#tech-stack-container{
  height: 100;
  margin: 0;
}

.progress-bar-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.788);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.5s ease-in-out;
}

#progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}

#welcome-message{
  opacity: 0;
  font-size: 3em;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  margin-bottom: 20px;
  text-align: center;
}


@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, rgba(0,0,0,0) 38%, rgba(255,255,255,1) 46%, rgba(0,0,0,0) 55%);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: 100%;
  height: 100%;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  border: none;
}


.glow-on-hover:after {
  background: var(--bg-color);
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(-bg-card);
  left: 0;
  top: 0;
  border-radius: 10px;
}


@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0;}
  100% { background-position: 0 0; }
}


/* scroll icon */
@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-0.6em); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(0.6em); }
  100% { transform: translateY(0); }
}
.scroll-icon {
  display: block;
  position: fixed;
  opacity: 0;
  left: 50%;
  bottom: 5em;
  margin-left: -1.5em;
  height: 3em;
  width: 1.5em;
  border: .25em solid #fff;
  border-radius: 1em;
  transition: all 1s ease-in-out;
  z-index: 999;
}
.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .6em;
  height: 1em;
  width: .4em;
  margin-left: -.2em;
  border-radius: .4em;
  overflow: hidden;
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  animation: scroll_1 2.75s ease-in-out infinite;
}
