
body{
  --bg-color: #FBFAFA;
  --bg-card: #ffffff;
  --color: #919295;
  --border-color: #074DD9;
  --primary-color: #074DD9;
  --primary-dark: #052158;
  --highlight-background: #e4e8ea;
  --highlight-primary: #3779ff;

  background-color: var(--bg-color);
  color: var(--color);
  margin: 0;

  font-family: 'Roboto', sans-serif; 
  font-size: 20px;
  scrollbar-gutter: stable;
}

footer{
  background-color: var(--primary-dark);
  color: var(--bg-color);
  min-height: 60px;
}

.home-bg{
  position: fixed;
}
.info-section{
  padding: 20px 35px 50px 35px;

  h1{
      margin-top: 50px;
      font-size: 60px;
      top: 100px;
      /* position: sticky; */
      height: 60px;
  }
  .card{
      background-color: var(--bg-card);
  }
  .stack-card:hover{
      border-color: transparent;
      transform: scale(1);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  }
  .card:hover{
      border-color: transparent;
      transform: scale(1);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  }
  .card p{
      padding: 0 60px;
      top: 100px;
      padding-top: 20px;
      color: var(--color);
  }
  .flip-card {
    top: 100px;
  }
}

/* Color for even rows */
.info-section:nth-child(even) {
  background-color: #ffffff; /* A light grey shade */
}

/* Color for odd rows (optional, if you want a specific color other than the default) */
.info-section:nth-child(odd) {
  background-color: var(--bg-color); 
}

.body{
  padding: 0 20px 0 20px;
}

.top-section{
  min-height: 85vh;
  background: #074DD9;
  background: linear-gradient(139deg, rgba(7, 77, 217, 1) 0%, rgba(87, 199, 173, 1) 0%, rgba(7, 77, 217, 1) 100%);
  position: relative;
  align-content: center;
  text-align: center;
  color: var(--bg-color);
  padding: 20px 60px;
}

.top-section-container{
  max-width: 625px;
  min-width: 250px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  h1 {
    flex-shrink: 0;
    font-size: 60px;
  }
}

.gradient-text{
  background-image: linear-gradient(139deg, rgb(224, 229, 255) 0%, rgb(226, 248, 248) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.header {
  /* background-color: #212d33bf; */

  color: var(--color);
  /* padding: 10px; */
  margin-bottom: 60px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}
.nav-bar {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.736);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 50vw;
  padding: 5px;
  /* margin: 10px 40px; */
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 20px;
  color: rgb(92, 95, 98);
}


/* .et-button{
  background-color: inherit;
  color: var(--color);
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: none;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
} */

.danger-button{
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #ffffff34,
    #ffffff34 10px,
    #6b6a2d7a 10px,
    #6b6a2d7a 20px
  );
  margin: 100px;
  min-height: 200px;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  backdrop-filter: blur(4px);

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-weight: 600;
}
.danger-button:hover{
  transform: scale(1.05);
  text-size-adjust: 1.5;
  background-color: rgba(255, 0, 0, 0.153);
}

.et-button:hover{
  transform: scale(1.05);
}

.project-btn{
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 0px rgba(195, 195, 195, 0.725);

  transition: all 0.3s ease-in-out;
  text-decoration: none !important;
}
.project-btn:hover{
  transform: scale(.99);
  box-shadow: none;
}

.et-button:hover{
  background-color: var(--bg-card);
}


@media only screen and (max-width: 1500px) {

}

@media only screen and (max-width: 1200px)  {
  .flip-card-header img{
    max-width: 250px;
  }
}

#logoSmallBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  aspect-ratio: 3/1;
  border: 1px solid lightgray;
  border-radius: 50px;
  font-size: large;
  color: var(--primary-color) !important;
}

.card {
  padding: 20px;
  margin: 10px 10px 50px 10px;
  border: 1px solid lightgray;
  border-radius: 50px;
  background-color: var(--bg-card);
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1);
}

.stack-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px 20px;
}
.stack-container .stack-card{
  background-color: var(--bg-card);
  padding: 30px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  align-items: start;
}

.stack-card ul{
  text-align: left;
  padding-left: 20px;
  margin-top: 0;
}
.stack-card ul li{
  &::marker {
    color: var(--primary-color);
  }
}
.tech-stack-icon{
  background: #074DD9;
  background: linear-gradient(139deg, rgba(7, 77, 217, 1) 0%, rgba(87, 199, 173, 1) 0%, rgba(7, 77, 217, 1) 100%);
  width: 35px;
  height: 35px;
  color: var(--bg-color);
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 6px; 
}


a{
  text-decoration: none;
  color: var(--color);
}
a:hover{
  text-decoration: underline;
}

.shadow-6{
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.06), 0px 7px 9px rgba(0, 0, 0, 0.12), 0px 20px 25px -8px rgba(0, 0, 0, 0.18);
}

.reset-btn{
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  margin: -50px 15px 10px auto;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  z-index: 4;
}

@keyframes cardAnim {
  from {
      opacity: 0;
      transform: translateY(50px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
  
}

#tech-stack{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#tech-stack-container{
  height: 100;
  margin: 0;
}

.progress-bar-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.788);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

#progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}

#welcome-message{
  opacity: 0;
  font-size: 3em;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  text-align: center;
}


@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(139deg, rgba(7, 77, 217, 1) 0%, rgba(87, 199, 173, 1) 0%, rgba(7, 77, 217, 1) 100%);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: 100%;
  height: 100%;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  border: none;
}


.glow-on-hover:after {
  background: inherit;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(-bg-card);
  left: 0;
  top: 0;
  border-radius: 10px;
}


@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0;}
  100% { background-position: 0 0; }
}


/* scroll icon */
@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-0.6em); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(0.6em); }
  100% { transform: translateY(0); }
}
.scroll-icon {
  display: block;
  position: fixed;
  opacity: 0;
  left: 50%;
  bottom: 5em;
  margin-left: -1.5em;
  height: 3em;
  width: 1.5em;
  border: .25em solid #fff;
  border-radius: 1em;
  transition: all 1s ease-in-out;
  z-index: 999;
}
.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .6em;
  height: 1em;
  width: .4em;
  margin-left: -.2em;
  border-radius: .4em;
  overflow: hidden;
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  animation: scroll_1 2.75s ease-in-out infinite;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  display: grid;
  grid-template-areas: "card";
  height: auto;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.is-flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  grid-area: card;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-content {
  color: var(--color);
  background-color: var(--bg-card);
  border-radius: 25px;
  padding: 0 0 30px 0;
  margin: 10px;
  font-size: small;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1);



  &:hover .flip-card-header img{
    /* Scale the image up (1.2 means 120% of original size) */
    transform: scale(1.2); 
    /* Webkit prefix for older browser support (optional) */
    -webkit-transform: scale(1.2);
  }
}

.flip-card-header img{
      /* Scale the image up (1.2 means 120% of original size) */
      transform: scale(1); 
      /* Webkit prefix for older browser support (optional) */
      -webkit-transform: scale(1);
      
      transition: all .3s ease-in-out;
      flex-shrink: 0; 
      min-width: 100%; 
      min-height: 100%; 
      overflow: hidden;
}



.flip-card-header {
  display: flex; 
  height: 200px; 
  align-items: center; 
  justify-content: center; 
  overflow: hidden; 
  border-radius: 25px 25px 0 0;
}
.flip-card-body {
  padding: 20px;
  ul
  {
    text-align: left;
  }
}

.flip-card-footer {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 0 30px;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}
.project-container {
  display: grid; 
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.hz-cards-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.title-text{
  font-size: 60px;
  font-weight: bold;
}
.subtext{
  font-size: 20px;
}

.sm-text{
  font-size: 10px;
}
.md-text{
  font-size: 20px;
}
.lg-text{
  font-size: 40px;
}

.xl-text{
  font-size: 60px;
}

button, .et-button{
  background: #074DD9;
  background: linear-gradient(139deg, rgba(7, 77, 217, 1) 0%, rgba(87, 199, 173, 1) 0%, rgba(7, 77, 217, 1) 100%);
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 0px rgba(195, 195, 195, 0.725);

  transition: all 0.3s ease-in-out;
  text-decoration: none !important;

  &:hover{
    transform: scale(.99);
    box-shadow: none;
  }
}
